// colors
$darkBlue: #101011;
$blue: #1C56A3;
$tan: hsl(40, 45%, 92%);
$grey: #EDEEF4;
$white: #FFFFFF;
$gradient: linear-gradient(27deg, rgba(16,55,108,1) 0%, rgba(28,86,163,1) 100%);

// font 
$fontFamily: poppins; 
$headingFontSize: 12.5rem;
$headingFontSizeClamp: clamp(5.95rem, 6vw, 12.5rem);
$subheadingFontSize: 6.5rem; 
$subheadingFontSizeClamp: clamp(4rem, 7vw, 6.5rem);
$subheadingTwoFontSize: 2.7rem; 
$subheadingTwoFontSizeClamp: clamp(1.25rem, 1.25vw, 2.7rem);
$paragraphFontSize: 2.0rem;
$paragraphFontSizeClamp: clamp(1.19rem, 0.9vw, 2rem);
$paragraphFontSpacing: 4rem;
$paragraphFontSpacingClamp: clamp(3rem, 2vw, 4rem);
$fontButton: clamp(1.5rem, 1.25vw, 2.7rem);
$navFontSizeClamp: clamp(1.3rem, 1vw, 1.8rem);
$navPortfolioToggleSizeClamp: clamp(0.75rem, 1.25vw, 1.5rem);

//padding
$desktopNavPadding: 2rem 13vw;
$desktopPadding: 0 13vw;
$ipadNavPadding: 3rem 10vw;
$ipadPadding: 0 10vw;
$mobileNavPadding: 3rem 7vw;
$mobilePadding: 0 7vw;
$mobileFooterPadding: 5rem 7vw;

//navbar 
$logoSize: clamp(5rem, 20vw, 20rem);


// contact nav Button
    @mixin contactButton {
        background-color: transparent;
        padding: 1.5rem 7rem;
        border-radius: 5rem;
        font-family: poppins;
        font-weight:500;
        text-transform: capitalize;
        font-size:1.8rem;
        color:$darkBlue;
        border: 1px solid $darkBlue;
    }

    @mixin contactButtonHover {
        background: $gradient;
        padding: 1.5rem 7rem;
        border-radius: 5rem;
        font-family: poppins;
        font-weight:500;
        text-transform: capitalize;
        font-size:1.8rem;
        color:$white;
        border: none;
        border: 1px solid transparent;
        transition: 0.25s all;
        cursor: pointer;
    }

// default button
    @mixin buttonNeutral {
        background-color: transparent;
        padding: 1.25rem clamp(6rem, 1.5vw, 10rem);
        border-radius: 5rem;
        font-family: $fontFamily;
        font-weight:600;
        font-size:$fontButton;
        color:$blue;
        border: 1px solid $blue;
        transition: 0.25s all;
    }

    @mixin buttonNeutralHover { 
        background: $gradient;
        padding: 1.25rem clamp(6rem, 1.5vw, 10rem);
        border-radius: 5rem;
        font-family: $fontFamily;
        font-weight:600;
        font-size:$fontButton;
        color:$white;
        border: 1px solid transparent;
        transition: 0.25s all;
        cursor: pointer;
    }

// lets chat button
    @mixin letsChatButton {
        background-color: transparent;
        border: none;
        font-family: $fontFamily;
        font-weight:600;
        font-size:$fontButton;
        color:$blue;
        cursor: pointer;
    }

    @mixin letsChatButtonHover {
        content: '';
        position: absolute;
        background-color: $blue;
        width: 2rem;
        height: 1rem;
        margin: clamp(0rem, 1.75em, 4.25rem) 0 0 0;
        cursor: pointer;
    }

// tan underline 
    @mixin tanUnderline {
        content: '';
        width: clamp(34rem, 35vw, 82rem);
        height: clamp(2rem, 2vw, 4rem);
        background-color: $tan;
        position: absolute;
        z-index: -1;
        border-radius: 2rem;
    }

    @mixin tanUnderLineSubHeading {
        content: '';
        width: clamp(13rem, 16vw, 28rem);
        height: clamp(2rem, 2vw, 4rem);
        background-color: $tan;
        position: absolute;
        z-index: -1;
        border-radius: 2rem;
    }

//heading 
    @mixin headingDarkBlue {
        font-size: $headingFontSizeClamp;
        color: $darkBlue;
        font-family: $fontFamily;
    }

    @mixin headingLightBlue {
        font-size: $headingFontSizeClamp;
        color: $blue;
        font-family: $fontFamily;
    }

//subHeading
    @mixin subHeading {
        text-transform: capitalize;
        font-size: clamp(3rem, 3.75vw, 6.5rem);
        font-weight: 700;
        
    }

//subHeading Two 
    @mixin subHeadingTwo {
        font-size: $subheadingTwoFontSizeClamp;
        font-family: $fontFamily;
    }

// paragraph
    @mixin paragraph {
        font-size: $paragraphFontSizeClamp;
        font-family: $fontFamily;
        line-height: $paragraphFontSpacingClamp;
        font-weight: 400;
    }

// footer Heading
    @mixin footerHeading {
        font-size: clamp(2rem, 1.2vw, 2.2rem);
        font-family: $fontFamily;
        font-weight: 700;
        color: $blue;
        text-transform: capitalize;
    }

// footer Paragraphs
    @mixin footerParagraph {
        font-family: $fontFamily;
        font-size:  clamp(1.25rem, 0.8vw, 1.5rem);;
        font-weight: 600;
        color:$white;
        text-decoration: none;
        list-style: none;
        line-height: 2.75rem;
    }

// marquee font
    @mixin marquee {
        text-transform: capitalize;
        font-size: clamp(6rem, 4.25vw, 8rem);
        font-weight: 700;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $white;
        color: transparent;
        transition: 0.5s all;
    }

    @mixin marqueeMobile {
        font-size: 5rem;
        font-weight: 700;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $white;
        color: transparent;
        transition: 0.5s all;
    }

    @mixin marqueeHover {
        color:$white;
        transition: 0.5s all;
    }

//navbar 
    @mixin navHover {
        content: '';
        position: absolute;
        background-color: $blue;
        width: 2.0rem;
        height: 1rem;
        margin: 3rem 0 0 0;
    }

    @mixin navHoverMobile {
        font-weight: 700;
        transition: 0.25s all;
        color: $blue;
    }


// illustrations 
    @mixin illustration {
        width: auto;
        height: clamp(25rem, 26vw, 50rem);
    }

// mobile toggle
    @mixin mobileToggle {
        display: initial;
        content: '';
        position: absolute;
        width: 2.5rem;
        height: 0.3rem;
        background-color: $blue;
        z-index: 1;
        top:50%;
        transition: 0.5s all;
    }

    @mixin mobileToggleBefore {
        display: initial;
        content: '';
        position: absolute;
        width: 2.5rem;
        height: 0.35rem;
        background-color: $blue;
        z-index: 1;
        top:0.75rem;
        transition: 0.5s all;
    }

    @mixin mobileToggleAfter {
        display: initial;
        content: '';
        position: absolute;
        width: 2.5rem;
        height: 0.3rem;
        background-color: $blue;
        z-index: 1;
        bottom:0.75rem;
        transition: 0.5s all;
    }

// animations

    @mixin blink {
        0%  { background-color: $blue; }
        49% { background-color: $blue; }
        50% { background-color: transparent; }
        99% { background-color: transparent; }
        100%  { background-color: $blue; }
    }

    @mixin scroll {
        0% {opacity: 0; transform: translateY(3rem);}
        100% {opacity: 1;}
    }

    @mixin slideRight {
        0% {opacity: 0; transform: translateX(3rem);}
        100% {opacity: 1;}
    }

// portfolio Toggle Desktop

    @mixin portfolioToggleStyle {
        text-decoration: none;
        color: $darkBlue;
        font-size: $navPortfolioToggleSizeClamp;
        font-family: $fontFamily;
        text-transform: capitalize;
    }
    