@import "./_variables";

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: $fontFamily;
}

main {
    height: 100vh;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:$desktopNavPadding;
        -webkit-box-shadow: 0px 35px 25px -10px rgba(0,0,0,0.05); 
        box-shadow: 0px 35px 25px -10px rgba(0,0,0,0.05);

        .mobileLogo {
            display: none;
        }

        .desktopLogo {
            img {
                width: 18vw;
            }
        }

        .desktopNav {
            display: flex;
            align-items: center;
            justify-content: center;

            ul {
                display: flex;
                list-style: none;
                list-style-type: none;

                li {
                    padding: 0 2rem;

                    a {
                        text-decoration: none;
                        color: $darkBlue;
                        font-size: $navFontSizeClamp;
                        font-family: $fontFamily;
                        text-transform: capitalize;
                    }

                }
            }

            .navHome::before {
                @include navHover;
                opacity: 1;
                transition: 0.25s all;
            }
            
            .navHome:hover::before {
                @include navHover;
                opacity: 1;
                transition: 0.25s all;
            }

            .navPortfolio::before {
                @include navHover;
                opacity: 1;
                transform:scaleY(0);
                transition: 0.25s all;
            }
            
            .navPortfolio:hover::before {
                @include navHover;
                opacity: 1;
                transform:scaleY(1);
                transition: 0.25s all;
            }

            .navAbout::before {
                @include navHover;
                opacity: 1;
                transform:scaleY(0);
                transition: 0.25s all;
            }
            
            .navAbout:hover::before {
                @include navHover;
                opacity: 1;
                transform:scaleY(1);
                transition: 0.25s all;
            }

            .navResume::before {
                @include navHover;
                opacity: 1;
                transform:scaleY(0);
                transition: 0.25s all;
            }
            
            .navResume:hover::before {
                @include navHover;
                opacity: 1;
                transform:scaleY(1);
                transition: 0.25s all;
            }



        }

        .contactButtonContainer {
            padding: 0 0 0 2rem;

            .contactButton {
                @include contactButton;
                font-family: $fontFamily;
                font-size: $navFontSizeClamp;
            }

            .contactButton:hover {
                @include contactButtonHover;
                font-family: $fontFamily;
                font-size: $navFontSizeClamp;
            }
        }

        .mobileTrigger {
            display: none;
        }
    }

    header {
        padding: $desktopPadding;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80vh;

        .boxOne {

            .description {

                p {
                    @include subHeadingTwo;
                    margin: 1.25rem 0;
                }

                p::before {
                    @include tanUnderline;
                }
            }

            .typingEffect {

                h1 {
                    @include headingLightBlue;
                    margin: 0;
                }

                .typed-text {
                    @include headingDarkBlue;
                }
                
                .cursor {
                  display: inline-block;
                  background-color: $blue;
                  margin-left: 0.1rem;
                  width: 3px;
                  animation: blink 1s infinite;
                  z-index: 1;
                }
                
                .cursor.typing {
                  animation: none;
                  z-index: 1;
                }
                
                @keyframes blink {
                  0%  { background-color: $blue; }
                  49% { background-color: $blue; }
                  50% { background-color: transparent; }
                  99% { background-color: transparent; }
                  100%  { background-color: $blue; }
                }
            }

            .title {
                margin: -8% 0;
                
                h1 {
                    @include headingDarkBlue;
                    text-transform:capitalize;
                }

                span {
                    @include headingLightBlue;
                }
            }

            .details {
                padding: 1rem 0 0 0;

                .myWork {
                    @include buttonNeutral;
                    transition: 0.25s all;
                    text-transform: capitalize;
                }

                .myWork:hover {
                    @include buttonNeutralHover;
                    transition: 0.25s all;
                }

                .letschatButton {
                    @include letsChatButton;
                    transition: 0.25s all;
                    text-transform: capitalize;
                    margin: 0 0 0 3rem;
                }

                .letschatButton::before {
                    @include letsChatButtonHover;
                    transition: 0.25s all;
                    transform: scaleY(0);
                    
                }

                .letschatButton:hover:before {
                    @include letsChatButtonHover;
                    transition: 0.25s all;
                    transform: scaleY(1);
                }
            }

        }

        .boxTwo {

            img {
                @include illustration;
            }
        }
    }

    .scrollDown {
        position: absolute;
        bottom: 3rem;
        left: 50%;
        margin: 0 0 0 -3.5rem;
        animation: scrollicon 2s;

        img {
            width: auto;
            height: 6rem;
        }

        @keyframes scrollicon {
            0% {opacity: 0; transform: translateY(3rem);}
            100% {opacity: 1;}
        }
    }

    .background {
        overflow-x: hidden;
        overflow-y: hidden;
        position: fixed;
        bottom:3rem;
        right: -5rem;
        z-index: -1;

        img {
            height: auto;
            width: 55rem;
        }


    }
}









@media only screen and (max-width: 1024px) {
    body {

    }

    main {
    
        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:$mobileNavPadding;
            -webkit-box-shadow: 0px 35px 25px -10px rgba(0,0,0,0.05); 
            box-shadow: 0px 35px 25px -10px rgba(0,0,0,0.05);
    
            .desktopLogo {
                display: none;
            }
    
            .desktopNav {
               display: none;
    
            }
    
            .contactButtonContainer {
               display: none;
            }

            .mobileLogo {
                display: initial;
            }

            .mobileTrigger {
                display: initial;
                content: '';
                position: relative;
                width: 2.5rem;
                height: 2.5rem;
                cursor: pointer;

                .mobileToggle {
                    @include mobileToggle;
                }

                .mobileToggle::after {
                    @include mobileToggleAfter;
                }

                .mobileToggle::before {
                    @include mobileToggleBefore;
                }

                .mobileToggle.active {
                    @include mobileToggle;
                    width: 0;
                    transition: 0.5s all;
                }

                .mobileToggle.active::after {
                    @include mobileToggleAfter;
                    transform: rotate(45deg);
                    bottom: 0rem;
                    transition: 0.5s all;
                }

                .mobileToggle.active::before {
                    @include mobileToggleBefore;
                    transform: rotate(-45deg);
                    top: 0rem;
                    transition: 0.5s all;
                }
            }
        }

        header {
            padding: $mobilePadding;
        }
    }
    
  }