body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: poppins;
}

main {
  height: 100vh;
}

main nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 35px 25px -10px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 35px 25px -10px rgba(0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 2;
  padding: 2rem 13vw;
  width: calc(100% - 26vw);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}

main nav .mobileLogo {
  display: none;
}

main nav .desktopLogo img {
  width: 18vw;
}

main nav .desktopNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main nav .desktopNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  list-style-type: none;
}

main nav .desktopNav ul li {
  position: relative;
  padding: 0 2rem;
}

main nav .desktopNav ul li a {
  text-decoration: none;
  color: #101011;
  font-size: clamp(1.3rem, 1vw, 1.8rem);
  font-family: poppins;
  text-transform: capitalize;
}

main nav .desktopNav .navHome::before {
  content: '';
  position: absolute;
  background-color: #1C56A3;
  width: 2.0rem;
  height: 1rem;
  margin: 3rem 0 0 0;
  opacity: 1;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

main nav .desktopNav .navHome:hover::before {
  content: '';
  position: absolute;
  background-color: #1C56A3;
  width: 2.0rem;
  height: 1rem;
  margin: 3rem 0 0 0;
  opacity: 1;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

main nav .desktopNav .navPortfolio::before {
  content: '';
  position: absolute;
  background-color: #1C56A3;
  width: 2.0rem;
  height: 1rem;
  margin: 3rem 0 0 0;
  opacity: 1;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

main nav .desktopNav a.navPortfolio.active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

main nav .desktopNav .navPortfolio:hover::before {
  content: '';
  position: absolute;
  background-color: #1C56A3;
  width: 2.0rem;
  height: 1rem;
  margin: 3rem 0 0 0;
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

main nav .desktopNav .navAbout::before {
  content: '';
  position: absolute;
  background-color: #1C56A3;
  width: 2.0rem;
  height: 1rem;
  margin: 3rem 0 0 0;
  opacity: 1;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

main nav .desktopNav .navAbout:hover::before {
  content: '';
  position: absolute;
  background-color: #1C56A3;
  width: 2.0rem;
  height: 1rem;
  margin: 3rem 0 0 0;
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

main nav .desktopNav .navResume::before {
  content: '';
  position: absolute;
  background-color: #1C56A3;
  width: 2.0rem;
  height: 1rem;
  margin: 3rem 0 0 0;
  opacity: 1;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

main nav .desktopNav .navResume:hover::before {
  content: '';
  position: absolute;
  background-color: #1C56A3;
  width: 2.0rem;
  height: 1rem;
  margin: 3rem 0 0 0;
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

main nav .desktopNav .portfolioToggle {
  position: absolute;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  top: 5rem;
  margin: 0;
  padding: 0.5rem 2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 2rem;
  display: none;
}

main nav .desktopNav .portfolioToggle li {
  list-style: none;
  padding: 1rem 0;
}

main nav .desktopNav .portfolioToggle li a.portfolioToggleFont {
  text-decoration: none;
  color: #101011;
  font-size: clamp(0.75rem, 1.25vw, 1.5rem);
  font-family: poppins;
  text-transform: capitalize;
}

main nav .desktopNav .portfolioToggle.active {
  display: inherit;
}

main nav .contactButtonContainer {
  padding: 0 0 0 2rem;
}

main nav .contactButtonContainer .contactButton {
  background-color: transparent;
  padding: 1.5rem 7rem;
  border-radius: 5rem;
  font-family: poppins;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.8rem;
  color: #101011;
  border: 1px solid #101011;
  font-family: poppins;
  font-size: clamp(1.3rem, 1vw, 1.8rem);
}

main nav .contactButtonContainer .contactButton:hover {
  background: linear-gradient(27deg, #10376c 0%, #1c56a3 100%);
  padding: 1.5rem 7rem;
  border-radius: 5rem;
  font-family: poppins;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.8rem;
  color: #FFFFFF;
  border: none;
  border: 1px solid transparent;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  font-family: poppins;
  font-size: clamp(1.3rem, 1vw, 1.8rem);
}

main nav .mobileTrigger {
  display: none;
}

main header {
  padding: 0 13vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

main header .boxOne {
  -webkit-animation: boxOneAnimation 1s;
          animation: boxOneAnimation 1s;
}

main header .boxOne .description p {
  font-size: clamp(1.25rem, 1.25vw, 2.7rem);
  font-family: poppins;
  margin: 1.25rem 0;
}

main header .boxOne .description p::before {
  content: '';
  width: clamp(42rem, 42vw, 82rem);
  height: clamp(2rem, 2vw, 4rem);
  background-color: #f4eee1;
  position: absolute;
  z-index: -1;
  border-radius: 2rem;
  height: 10px;
}

main header .boxOne .typingEffect h1 {
  font-size: clamp(5.5rem, 6vw, 12.5rem);
  color: #1C56A3;
  font-family: poppins;
  margin: 0;
}

main header .boxOne .typingEffect .typed-text {
  font-size: clamp(5.5rem, 6vw, 12.5rem);
  color: #101011;
  font-family: poppins;
}

main header .boxOne .typingEffect .cursor {
  display: inline-block;
  background-color: #1C56A3;
  margin-left: 0.1rem;
  width: 3px;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
  z-index: 1;
}

main header .boxOne .typingEffect .cursor.typing {
  -webkit-animation: none;
          animation: none;
  z-index: 1;
}

@-webkit-keyframes blink {
  0% {
    background-color: #1C56A3;
  }
  49% {
    background-color: #1C56A3;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #1C56A3;
  }
}

@keyframes blink {
  0% {
    background-color: #1C56A3;
  }
  49% {
    background-color: #1C56A3;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #1C56A3;
  }
}

main header .boxOne .title {
  margin: -8% 0;
}

main header .boxOne .title h1 {
  font-size: clamp(5.5rem, 6vw, 12.5rem);
  color: #101011;
  font-family: poppins;
  text-transform: capitalize;
}

main header .boxOne .title span {
  font-size: clamp(5.5rem, 6vw, 12.5rem);
  color: #1C56A3;
  font-family: poppins;
}

main header .boxOne .details {
  padding: 1rem 0 0 0;
}

main header .boxOne .details .myWork {
  background-color: transparent;
  padding: 1.25rem clamp(6rem, 1.5vw, 10rem);
  border-radius: 5rem;
  font-family: poppins;
  font-weight: 600;
  font-size: clamp(1.5rem, 1.25vw, 2.7rem);
  color: #1C56A3;
  border: 1px solid #1C56A3;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  transition: 0.25s all;
  text-transform: capitalize;
}

main header .boxOne .details .myWork:hover {
  background: linear-gradient(27deg, #10376c 0%, #1c56a3 100%);
  padding: 1.25rem clamp(6rem, 1.5vw, 10rem);
  border-radius: 5rem;
  font-family: poppins;
  font-weight: 600;
  font-size: clamp(1.5rem, 1.25vw, 2.7rem);
  color: #FFFFFF;
  border: 1px solid transparent;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  transition: 0.25s all;
}

main header .boxOne .details .letschatButton {
  background-color: transparent;
  border: none;
  font-family: poppins;
  font-weight: 600;
  font-size: clamp(1.5rem, 1.25vw, 2.7rem);
  color: #1C56A3;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  text-transform: capitalize;
  margin: 0 0 0 3rem;
}

main header .boxOne .details .letschatButton::before {
  content: '';
  position: absolute;
  background-color: #1C56A3;
  width: 2rem;
  height: 1rem;
  margin: clamp(0rem, 1.75em, 4.25rem) 0 0 0;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

main header .boxOne .details .letschatButton:hover:before {
  content: '';
  position: absolute;
  background-color: #1C56A3;
  width: 2rem;
  height: 1rem;
  margin: clamp(0rem, 1.75em, 4.25rem) 0 0 0;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

@-webkit-keyframes boxOneAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes boxOneAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
  }
}

main header .boxTwo {
  -webkit-animation: boxTwoAnimation 1s;
          animation: boxTwoAnimation 1s;
}

main header .boxTwo img {
  width: auto;
  height: clamp(25rem, 26vw, 50rem);
}

@-webkit-keyframes boxTwoAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes boxTwoAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
  100% {
    opacity: 1;
  }
}

main .scrollDown {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  margin: 0 0 0 -3.5rem;
  -webkit-animation: scrollIconAnimation 2s;
          animation: scrollIconAnimation 2s;
}

main .scrollDown img {
  width: auto;
  height: 6rem;
}

@-webkit-keyframes scrollIconAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes scrollIconAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
  }
}

main .background {
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  bottom: 3rem;
  right: -5rem;
  z-index: -1;
}

main .background img {
  height: auto;
  width: 55rem;
}

#portfolio {
  height: 110vh;
  padding: 0 13vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#portfolio .title h1 {
  text-transform: capitalize;
  font-size: clamp(3rem, 3.75vw, 6.5rem);
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#portfolio .title h1::before {
  content: '';
  width: clamp(13rem, 16vw, 28rem);
  height: clamp(2rem, 2vw, 4rem);
  background-color: #f4eee1;
  position: absolute;
  z-index: -1;
  border-radius: 2rem;
}

#portfolio .container {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#101011), color-stop(#1d2031), color-stop(#253154), color-stop(#27437a), to(#1c56a3));
  background-image: linear-gradient(to left top, #101011, #1d2031, #253154, #27437a, #1c56a3);
  height: auto;
  width: 100%;
  border-radius: 2rem;
  padding: 0 2.5rem;
}

#portfolio .container .marqueeOne {
  overflow: hidden;
}

#portfolio .container .marqueeOne span {
  text-transform: capitalize;
  font-size: clamp(4rem, 5vw, 7rem);
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFFFFF;
  color: transparent;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
}

#portfolio .container .marqueeOne .uxuiDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeOne .graphicDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeOne .architecture:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeOne .frontendDevelopment:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeOne .digitalArtwork:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeTwo {
  overflow: hidden;
}

#portfolio .container .marqueeTwo span {
  text-transform: capitalize;
  font-size: clamp(4rem, 5vw, 7rem);
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFFFFF;
  color: transparent;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
}

#portfolio .container .marqueeTwo .uxuiDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeTwo .graphicDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeTwo .architecture:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeTwo .frontendDevelopment:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeTwo .digitalArtwork:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeThree {
  overflow: hidden;
}

#portfolio .container .marqueeThree span {
  text-transform: capitalize;
  font-size: clamp(4rem, 5vw, 7rem);
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFFFFF;
  color: transparent;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
}

#portfolio .container .marqueeThree .uxuiDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeThree .graphicDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeThree .architecture:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeThree .frontendDevelopment:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeThree .digitalArtwork:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeFour {
  overflow: hidden;
}

#portfolio .container .marqueeFour span {
  text-transform: capitalize;
  font-size: clamp(4rem, 5vw, 7rem);
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFFFFF;
  color: transparent;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
}

#portfolio .container .marqueeFour .uxuiDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeFour .graphicDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeFour .architecture:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeFour .frontendDevelopment:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeFour .digitalArtwork:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeFive {
  overflow: hidden;
}

#portfolio .container .marqueeFive span {
  text-transform: capitalize;
  font-size: clamp(4rem, 5vw, 7rem);
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFFFFF;
  color: transparent;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
}

#portfolio .container .marqueeFive .uxuiDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeFive .graphicDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeFive .architecture:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeFive .frontendDevelopment:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#portfolio .container .marqueeFive .digitalArtwork:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

@media only screen and (max-width: 1024px) {
  main nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3rem 10vw;
    -webkit-box-shadow: 0px 35px 25px -10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 35px 25px -10px rgba(0, 0, 0, 0.05);
  }
  main nav .desktopLogo {
    display: none;
  }
  main nav .desktopNav {
    display: none;
  }
  main nav .contactButtonContainer {
    display: none;
  }
  main nav .mobileLogo {
    display: initial;
  }
  main nav .mobileTrigger {
    display: initial;
    content: '';
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
  }
  main nav .mobileTrigger .mobileToggle {
    display: initial;
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 0.3rem;
    background-color: #1C56A3;
    z-index: 1;
    top: 50%;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  main nav .mobileTrigger .mobileToggle::after {
    display: initial;
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 0.3rem;
    background-color: #1C56A3;
    z-index: 1;
    bottom: 0.75rem;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  main nav .mobileTrigger .mobileToggle::before {
    display: initial;
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 0.35rem;
    background-color: #1C56A3;
    z-index: 1;
    top: 0.75rem;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  main nav .mobileTrigger .mobileToggle.active {
    display: initial;
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 0.3rem;
    background-color: #1C56A3;
    z-index: 1;
    top: 50%;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    width: 0;
    transition: 0.5s all;
  }
  main nav .mobileTrigger .mobileToggle.active::after {
    display: initial;
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 0.3rem;
    background-color: #1C56A3;
    z-index: 1;
    bottom: 0.75rem;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 0rem;
    transition: 0.5s all;
  }
  main nav .mobileTrigger .mobileToggle.active::before {
    display: initial;
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 0.35rem;
    background-color: #1C56A3;
    z-index: 1;
    top: 0.75rem;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0rem;
    transition: 0.5s all;
  }
  main header {
    padding: 0 10vw;
  }
  #portfolio {
    padding: 0 10vw;
  }
}
/*# sourceMappingURL=main.css.map */