body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: poppins;
  scroll-behavior: smooth;
}

main {
  height: 100vh;
}

main nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 35px 25px -10px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 35px 25px -10px rgba(0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 2;
  padding: 2rem 13vw;
  width: calc(100% - 26vw);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}

main nav .mobileLogo {
  display: none;
}

main nav .desktopLogo img {
  width: 18vw;
}

main nav .desktopNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main nav .desktopNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  list-style-type: none;
}

main nav .desktopNav ul li {
  position: relative;
  padding: 0 2rem;
}

main nav .desktopNav ul li a {
  text-decoration: none;
  color: #101011;
  font-size: clamp(1.3rem, 1vw, 1.8rem);
  font-family: poppins;
  text-transform: capitalize;
}

main nav .desktopNav ul .navPortfolio {
  text-decoration: none;
  color: #101011;
  font-size: clamp(1.3rem, 1vw, 1.8rem);
  font-family: poppins;
  text-transform: capitalize;
  cursor: pointer;
}

main nav .desktopNav .navHome::before {
  content: '';
  position: absolute;
  background-color: #1C56A3;
  width: 2.0rem;
  height: 1rem;
  margin: 3rem 0 0 0;
  opacity: 1;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

main nav .desktopNav .navHome:hover::before {
  content: '';
  position: absolute;
  background-color: #1C56A3;
  width: 2.0rem;
  height: 1rem;
  margin: 3rem 0 0 0;
  opacity: 1;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

main nav .desktopNav .navPortfolio::before {
  content: '';
  position: absolute;
  background-color: #1C56A3;
  width: 2.0rem;
  height: 1rem;
  margin: 3rem 0 0 0;
  opacity: 1;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

main nav .desktopNav .navPortfolio.active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

main nav .desktopNav .navPortfolio:hover::before {
  content: '';
  position: absolute;
  background-color: #1C56A3;
  width: 2.0rem;
  height: 1rem;
  margin: 3rem 0 0 0;
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

main nav .desktopNav .navAbout::before {
  content: '';
  position: absolute;
  background-color: #1C56A3;
  width: 2.0rem;
  height: 1rem;
  margin: 3rem 0 0 0;
  opacity: 1;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

main nav .desktopNav .navAbout:hover::before {
  content: '';
  position: absolute;
  background-color: #1C56A3;
  width: 2.0rem;
  height: 1rem;
  margin: 3rem 0 0 0;
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

main nav .desktopNav .navResume::before {
  content: '';
  position: absolute;
  background-color: #1C56A3;
  width: 2.0rem;
  height: 1rem;
  margin: 3rem 0 0 0;
  opacity: 1;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

main nav .desktopNav .navResume:hover::before {
  content: '';
  position: absolute;
  background-color: #1C56A3;
  width: 2.0rem;
  height: 1rem;
  margin: 3rem 0 0 0;
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

main nav .desktopNav .portfolioToggle {
  position: absolute;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  top: 5rem;
  margin: 0;
  padding: 0.5rem 2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 2rem;
  display: none;
}

main nav .desktopNav .portfolioToggle li {
  list-style: none;
  padding: 1rem 0;
}

main nav .desktopNav .portfolioToggle li a.portfolioToggleFont {
  text-decoration: none;
  color: #101011;
  font-size: clamp(0.75rem, 1.25vw, 1.5rem);
  font-family: poppins;
  text-transform: capitalize;
}

main nav .desktopNav .portfolioToggle.active {
  display: inherit;
}

main nav .contactButtonContainer {
  padding: 0 0 0 2rem;
}

main nav .contactButtonContainer .contactButton {
  background-color: transparent;
  padding: 1.5rem 7rem;
  border-radius: 5rem;
  font-family: poppins;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.8rem;
  color: #101011;
  border: 1px solid #101011;
  font-family: poppins;
  font-size: clamp(1.3rem, 1vw, 1.8rem);
}

main nav .contactButtonContainer .contactButton:hover {
  background: linear-gradient(27deg, #10376c 0%, #1c56a3 100%);
  padding: 1.5rem 7rem;
  border-radius: 5rem;
  font-family: poppins;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.8rem;
  color: #FFFFFF;
  border: none;
  border: 1px solid transparent;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  cursor: pointer;
  font-family: poppins;
  font-size: clamp(1.3rem, 1vw, 1.8rem);
}

main nav .mobileTrigger {
  display: none;
}

main header {
  padding: 0 13vw;
  height: 100vh;
}

main header .boxesContainer {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main header .boxesContainer .boxOne {
  -webkit-animation: boxOneAnimation 1s;
          animation: boxOneAnimation 1s;
}

main header .boxesContainer .boxOne .description p {
  font-size: clamp(1.25rem, 1.25vw, 2.7rem);
  font-family: poppins;
  margin: 1.25rem 0;
}

main header .boxesContainer .boxOne .description p::before {
  content: '';
  width: clamp(42rem, 42vw, 82rem);
  height: clamp(2rem, 2vw, 4rem);
  background-color: #f4eee1;
  position: absolute;
  z-index: -1;
  border-radius: 2rem;
  height: 10px;
}

main header .boxesContainer .boxOne .typingEffect h1 {
  font-size: clamp(5.5rem, 6vw, 12.5rem);
  color: #1C56A3;
  font-family: poppins;
  margin: 0;
}

main header .boxesContainer .boxOne .typingEffect .typed-text {
  font-size: clamp(5.5rem, 6vw, 12.5rem);
  color: #101011;
  font-family: poppins;
}

main header .boxesContainer .boxOne .typingEffect .cursor {
  display: inline-block;
  background-color: #1C56A3;
  margin-left: 0.1rem;
  width: 3px;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
  z-index: 1;
}

main header .boxesContainer .boxOne .typingEffect .cursor.typing {
  -webkit-animation: none;
          animation: none;
  z-index: 1;
}

main header .boxesContainer .boxOne .title {
  margin: -8% 0;
}

main header .boxesContainer .boxOne .title h1 {
  font-size: clamp(5.5rem, 6vw, 12.5rem);
  color: #101011;
  font-family: poppins;
  text-transform: capitalize;
}

main header .boxesContainer .boxOne .title span {
  font-size: clamp(5.5rem, 6vw, 12.5rem);
  color: #1C56A3;
  font-family: poppins;
}

main header .boxesContainer .boxOne .details {
  padding: 1rem 0 0 0;
}

main header .boxesContainer .boxOne .details .myWork {
  background-color: #FFFFFF;
  padding: 1.25rem clamp(6rem, 1.5vw, 10rem);
  border-radius: 5rem;
  font-family: poppins;
  font-weight: 600;
  font-size: clamp(1.5rem, 1.25vw, 2.7rem);
  color: #1C56A3;
  border: 1px solid #1C56A3;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  transition: 0.25s all;
  text-transform: capitalize;
}

main header .boxesContainer .boxOne .details .myWork:hover {
  background: linear-gradient(27deg, #10376c 0%, #1c56a3 100%);
  padding: 1.25rem clamp(6rem, 1.5vw, 10rem);
  border-radius: 5rem;
  font-family: poppins;
  font-weight: 600;
  font-size: clamp(1.5rem, 1.25vw, 2.7rem);
  color: #FFFFFF;
  border: 1px solid transparent;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  cursor: pointer;
  transition: 0.25s all;
}

main header .boxesContainer .boxOne .details .letschatButton {
  background-color: transparent;
  border: none;
  font-family: poppins;
  font-weight: 600;
  font-size: clamp(1.5rem, 1.25vw, 2.7rem);
  color: #1C56A3;
  cursor: pointer;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  text-transform: capitalize;
  margin: 0 0 0 3rem;
}

main header .boxesContainer .boxOne .details .letschatButton::before {
  content: '';
  position: absolute;
  background-color: #1C56A3;
  width: 2rem;
  height: 1rem;
  margin: clamp(0rem, 1.75em, 4.25rem) 0 0 0;
  cursor: pointer;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

main header .boxesContainer .boxOne .details .letschatButton:hover:before {
  content: '';
  position: absolute;
  background-color: #1C56A3;
  width: 2rem;
  height: 1rem;
  margin: clamp(0rem, 1.75em, 4.25rem) 0 0 0;
  cursor: pointer;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

main header .boxesContainer .boxTwo {
  -webkit-animation: boxTwoAnimation 1s;
          animation: boxTwoAnimation 1s;
}

main header .boxesContainer .boxTwo img {
  width: auto;
  height: clamp(25rem, 26vw, 50rem);
}

main header .portfolioBelow {
  position: absolute;
  top: 85%;
  left: calc(50% - 6rem);
}

main header .portfolioBelow img {
  width: 12rem;
  height: auto;
}

main .background {
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  bottom: 3rem;
  right: -5rem;
  z-index: -1;
}

main .background svg {
  height: auto;
  width: 50rem;
}

.portfolio {
  height: calc(100vh - 4rem);
  padding: 0 13vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: portfolioAnimation 1s;
          animation: portfolioAnimation 1s;
}

.portfolio .title h1 {
  text-transform: capitalize;
  font-size: clamp(3rem, 3.75vw, 6.5rem);
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.portfolio .title h1::before {
  content: '';
  width: clamp(13rem, 16vw, 28rem);
  height: clamp(2rem, 2vw, 4rem);
  background-color: #f4eee1;
  position: absolute;
  z-index: -1;
  border-radius: 2rem;
}

.portfolio .container {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#101011), color-stop(#1d2031), color-stop(#253154), color-stop(#27437a), to(#1c56a3));
  background-image: linear-gradient(to left top, #101011, #1d2031, #253154, #27437a, #1c56a3);
  height: auto;
  width: calc(100% - 5rem);
  border-radius: 2rem;
  padding: 0 2.5rem;
}

.portfolio .container .marqueeOne {
  overflow: hidden;
}

.portfolio .container .marqueeOne span {
  text-transform: capitalize;
  font-size: clamp(6rem, 4.25vw, 8rem);
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFFFFF;
  color: transparent;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
}

.portfolio .container .marqueeOne .uxuiDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeOne .graphicDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeOne .architecture:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeOne .frontendDevelopment:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeOne .digitalArtwork:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeTwo {
  overflow: hidden;
}

.portfolio .container .marqueeTwo span {
  text-transform: capitalize;
  font-size: clamp(6rem, 4.25vw, 8rem);
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFFFFF;
  color: transparent;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
}

.portfolio .container .marqueeTwo .uxuiDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeTwo .graphicDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeTwo .architecture:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeTwo .frontendDevelopment:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeTwo .digitalArtwork:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeThree {
  overflow: hidden;
}

.portfolio .container .marqueeThree span {
  text-transform: capitalize;
  font-size: clamp(6rem, 4.25vw, 8rem);
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFFFFF;
  color: transparent;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
}

.portfolio .container .marqueeThree .uxuiDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeThree .graphicDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeThree .architecture:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeThree .frontendDevelopment:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeThree .digitalArtwork:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeFour {
  overflow: hidden;
}

.portfolio .container .marqueeFour span {
  text-transform: capitalize;
  font-size: clamp(6rem, 4.25vw, 8rem);
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFFFFF;
  color: transparent;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
}

.portfolio .container .marqueeFour .uxuiDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeFour .graphicDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeFour .architecture:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeFour .frontendDevelopment:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeFour .digitalArtwork:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeFive {
  overflow: hidden;
}

.portfolio .container .marqueeFive span {
  text-transform: capitalize;
  font-size: clamp(6rem, 4.25vw, 8rem);
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFFFFF;
  color: transparent;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
}

.portfolio .container .marqueeFive .uxuiDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeFive .graphicDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeFive .architecture:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeFive .frontendDevelopment:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeFive .digitalArtwork:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeSix {
  overflow: hidden;
  display: none;
}

.portfolio .container .marqueeSix span {
  text-transform: capitalize;
  font-size: clamp(6rem, 4.25vw, 8rem);
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFFFFF;
  color: transparent;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
}

.portfolio .container .marqueeSix .uxuiDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeSix .graphicDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeSix .architecture:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeSix .frontendDevelopment:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeSix .digitalArtwork:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeSeven {
  overflow: hidden;
  display: none;
}

.portfolio .container .marqueeSeven span {
  text-transform: capitalize;
  font-size: clamp(6rem, 4.25vw, 8rem);
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFFFFF;
  color: transparent;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
}

.portfolio .container .marqueeSeven .uxuiDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeSeven .graphicDesign:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeSeven .architecture:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeSeven .frontendDevelopment:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.portfolio .container .marqueeSeven .digitalArtwork:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.about {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .aboutGridContainer {
  height: 60vh;
  display: -ms-grid;
  display: grid;
  padding: 0 13vw;
  -ms-grid-columns: 30% 40% 30%;
      grid-template-columns: 30% 40% 30%;
  grid-column-gap: 1rem;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  grid-row-gap: 1rem;
      grid-template-areas: "imageOne imageTwo details" "imageOne imageThree details";
}

.about .aboutGridContainer .aboutImageOne {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: imageOne;
  width: auto;
  height: 100%;
  background-image: url(/images/aboutImageOne.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about .aboutGridContainer .aboutImageTwo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: imageTwo;
  width: auto;
  height: 100%;
  background-image: url(/images/aboutImageTwo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about .aboutGridContainer .aboutImageThree {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: imageThree;
  width: auto;
  height: 100%;
  background-image: url(/images/aboutImageThree.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about .aboutGridContainer .details {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: details;
  width: auto;
  height: 100%;
  margin: 0;
  height: 0;
}

.about .aboutGridContainer .details p {
  font-size: clamp(1.19rem, 0.9vw, 2rem);
  font-family: poppins;
  line-height: clamp(3rem, 2vw, 4rem);
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.about .aboutGridContainer .details .signatureIcon {
  width: calc(100% - 15rem);
  height: auto;
}

.about .aboutGridContainer .details .viewMore {
  background-color: #FFFFFF;
  padding: 1.25rem clamp(6rem, 1.5vw, 10rem);
  border-radius: 5rem;
  font-family: poppins;
  font-weight: 600;
  font-size: clamp(1.5rem, 1.25vw, 2.7rem);
  color: #1C56A3;
  border: 1px solid #1C56A3;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  text-transform: capitalize;
  width: 100%;
}

.about .aboutGridContainer .details .viewMore:hover {
  background: linear-gradient(27deg, #10376c 0%, #1c56a3 100%);
  padding: 1.25rem clamp(6rem, 1.5vw, 10rem);
  border-radius: 5rem;
  font-family: poppins;
  font-weight: 600;
  font-size: clamp(1.5rem, 1.25vw, 2.7rem);
  color: #FFFFFF;
  border: 1px solid transparent;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  cursor: pointer;
  width: 100%;
}

footer {
  height: 35vh;
  background-color: #101011;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 13vw;
}

footer .logo img {
  width: auto;
  height: 5vh;
}

footer .footerList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footerList h1 {
  font-size: clamp(1.5rem, 1.2vw, 2.2rem);
  font-family: poppins;
  font-weight: 700;
  color: #1C56A3;
  text-transform: capitalize;
}

footer .footerList ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

footer .footerList li {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

footer .footerList a {
  font-family: poppins;
  font-size: clamp(1rem, 0.8vw, 1.5rem);
  font-weight: 600;
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
  line-height: 2.75rem;
}

footer .footerList .footerPortfolio {
  margin: 0 10rem;
}

footer .footerList .footerSocials {
  margin: 0 10rem 0 0;
}

footer .footerList .footerContact {
  margin: 0 0 0 0;
}

.animationSection .lineAnimationContainer {
  position: fixed;
  overflow: hidden;
  z-index: -1;
  top: clamp(9%, 8vw, 14%);
  left: 5%;
  text-align: center;
}

.animationSection .lineAnimationContainer svg {
  height: 50vh;
  width: auto;
  margin: 0 0 0rem 0;
}

@-webkit-keyframes boxOneAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes boxOneAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes portfolioAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes portfolioAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    background-color: #1C56A3;
  }
  49% {
    background-color: #1C56A3;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #1C56A3;
  }
}

@keyframes blink {
  0% {
    background-color: #1C56A3;
  }
  49% {
    background-color: #1C56A3;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #1C56A3;
  }
}

@-webkit-keyframes boxTwoAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes boxTwoAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1024px) {
  main {
    height: 100%;
  }
  main header {
    padding: 0 10vw;
  }
  main header .portfolioBelow {
    position: absolute;
    top: 85%;
    left: calc(50% - 6rem);
  }
  main header .portfolioBelow img {
    width: 12rem;
    height: auto;
  }
  main nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3rem 10vw;
    width: calc(100% - 20vw);
    -webkit-box-shadow: 0px 35px 25px -10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 35px 25px -10px rgba(0, 0, 0, 0.05);
  }
  main nav .desktopLogo {
    display: none;
  }
  main nav .desktopNav {
    display: none;
  }
  main nav .contactButtonContainer {
    display: none;
  }
  main nav .mobileLogo {
    display: initial;
  }
  main nav .mobileTrigger {
    display: initial;
    content: '';
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
  }
  main nav .mobileTrigger .mobileToggle {
    display: initial;
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 0.3rem;
    background-color: #1C56A3;
    z-index: 1;
    top: 50%;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  main nav .mobileTrigger .mobileToggle::after {
    display: initial;
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 0.3rem;
    background-color: #1C56A3;
    z-index: 1;
    bottom: 0.75rem;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  main nav .mobileTrigger .mobileToggle::before {
    display: initial;
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 0.35rem;
    background-color: #1C56A3;
    z-index: 1;
    top: 0.75rem;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  main nav .mobileTrigger .mobileToggle.active {
    display: initial;
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 0.3rem;
    background-color: #1C56A3;
    z-index: 1;
    top: 50%;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    width: 0;
    transition: 0.5s all;
  }
  main nav .mobileTrigger .mobileToggle.active::after {
    display: initial;
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 0.3rem;
    background-color: #1C56A3;
    z-index: 1;
    bottom: 0.75rem;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 0rem;
    transition: 0.5s all;
  }
  main nav .mobileTrigger .mobileToggle.active::before {
    display: initial;
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 0.35rem;
    background-color: #1C56A3;
    z-index: 1;
    top: 0.75rem;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0rem;
    transition: 0.5s all;
  }
  .portfolio {
    height: 100%;
    padding: 0 10vw;
    padding-bottom: 30rem;
  }
  .portfolio .container .marqueeSix {
    display: inherit;
  }
  .portfolio .container .marqueeSeven {
    display: inherit;
  }
  .about {
    padding: 0 0 30rem 0;
    height: 100%;
  }
  .about .aboutGridContainer {
    height: clamp(30rem, 60vw, 50rem);
    display: -ms-grid;
    display: grid;
    padding: 0 10vw;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    grid-column-gap: 1rem;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    grid-row-gap: 1rem;
        grid-template-areas: "imageOne imageTwo" "imageOne imageThree" "details details";
  }
  .about .aboutGridContainer .details .signatureIcon {
    width: 30%;
  }
  footer {
    height: 30vh;
    padding: 0 10vw;
  }
  footer .logo img {
    width: auto;
    height: 4vh;
  }
  .animationSection .lineAnimationContainer {
    position: fixed;
    overflow: hidden;
    z-index: -1;
    top: 30%;
    left: clamp(1%, 3vw, 5%);
    text-align: center;
  }
  .animationSection .lineAnimationContainer svg {
    height: 30vh;
    width: auto;
  }
}

@media only screen and (max-width: 750px) {
  main nav {
    padding: 3rem 7vw;
    width: calc(100% - 14vw);
  }
  main header {
    padding: 0 7vw;
  }
  main header .boxesContainer {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main header .boxesContainer .boxOne {
    width: 100%;
  }
  main header .boxesContainer .boxOne .description p {
    font-size: clamp(1.19rem, 0.9vw, 2rem);
  }
  main header .boxesContainer .boxOne .description p::before {
    width: clamp(33rem, 42vw, 82rem);
  }
  main header .boxesContainer .boxOne .typingEffect {
    padding: 0 0 1rem 0;
  }
  main header .boxesContainer .boxOne .typingEffect .typingEffectOne::after {
    content: "\a";
    white-space: pre;
  }
  main header .boxesContainer .boxTwo {
    display: none;
  }
  main header .portfolioBelow {
    position: absolute;
    top: 90%;
    left: calc(50% - 5rem);
  }
  main header .portfolioBelow img {
    width: 10rem;
  }
  footer {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */